<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/listeExpedition.css">
    <link rel="stylesheet" href="dist/css/bootstrap.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
        
        <%- include('navbar/navbaraccueil') %>
        <h2 class="title"> .La Liste des Expéditions</h2>

        <!-- recherche -->

        <div class="input-wrapper">
            <button class="icon"> 
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"></path>
                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M22 22L20 20"></path>
              </svg>
            </button>
            <input placeholder="search.." class="input" name="text" type="text">
          </div>

          <!----------------->

        
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Numero de suivi</th>
                <th>Reference de l'expéditeur</th>
                <th>Nom de l'expéditeur</th>
                <th>Numero du destinataire</th>
                <th>Nom du destinataire</th>
                <th>Adresse de Livraison</th>
                <th>Adresse de l'expéditeur</th>
                <th>Date de livraison</th>
                <th>Statut actuel</th>
                <th>Actions</th>
              </tr>

              <tr>
                <% listeExpedition.forEach(element => {%>
                  <tr>
                    <td><%= element.reference %></td> 
                    <td><%= element.expediteur %></td>
                    <td><%= element.destinataire %></td>
                    <td><%= element.adressLivraison %></td>
                    <td><%= element.adresseExpediteur %></td>
                    <td><%= new Date(element.dateExpedition).toLocaleString('fr-FR', { timeZone: 'UTC' }) %></td>
                    <td><%= element.destinataire %></td>
                    <td><%= element.statut %></td>
                    <td><%= element.statut %></td>
                    <td>
                      <button type="button"class="btn btn-link btn-rounded btn-sm fw-bold"data-mdb-ripple-color="dark">
                        <a href=""></a>  Consulter</button>  
                       </button>
                     </td>

                    <td>
                      <a href="/updateComptes/<%=element._id%>" class="non"
                        ><i class="fa-solid fa-pen-to-square"></i></a
                      ><a href="" class="non"><i class="fa-solid fa-trash"></i></a>
                    </td>
                    <% }); %>
              </tr>
            </thead>
            
          </table>
       

        <%- include('footer/footer') %>
     
</body>

</html>